<h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
  <dd>
    <img src="<%= @pic.image %>">
  </dd>

  <dt>Caption</dt>
  <dd>
    <%= @pic.caption %>
  </dd>

  <dt>Owner</dt>
  <dd>
    <%= @pic.owner.username %>
  </dd>

  <dt>Posted</dt>
  <dd>
    <%= time_ago_in_words(@pic.created_at) %> ago
  </dd>

  <dt>Fans</dt>
  <dd>
    <%= @pic.fans.pluck(:username).to_sentence %>
  </dd>
  
  <dt>Add a fan</dt>
  
  <dd>
    <form action ="/create_like_record">
      <input type = "hidden" name = "photo_id" value ="<%= @pic.id %>">
      
      <label for ="user_dropdown">Person</label>
      <select id = "user_dropdown" name = "pic_fan_id">
        <%User.all.order({:username => :asc}).each do |a_fan| %>
          <option value="<%= a_fan.id%>">
            <%= a_fan.username %>
          </option>
        <% end %>
      </select>
      
      <button>Add fan</button>
    </form>
  </dd>
  
  <dt>Danger Zone</dt>
    <dd>
      <a href="/delete_photo/<%= @pic.id %>">
          Delete this photo
      </a>
    </dd>
  
</dl>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @pic.comments.order({ :created_at => :asc }).each do |comment| %>
  <tr>
    <td>
      <%= comment.author.username %>
    </td>

    <td>
      <%= comment.body %>
    </td>

    <td>
      <%= time_ago_in_words(comment.created_at) %> ago
    </td>
  </tr>
  <% end %>
</table>

